* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
button {
  outline: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: Tahoma;
  overflow-x: hidden;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  @include media(large) {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
