.footer {
  overflow: hidden;
  &__container {
    min-height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    flex-wrap: wrap;
    @include media(xsmall) {
      justify-content: center;
    }
  }
  &__description {
    opacity: 0.7;
    @include media(medium) {
      font-size: 1.6rem;
    }
  }
  &__nav {
    display: flex;
    @include media(medium) {
      display: none;
    }
    &-item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
      &--mobile {
        font-size: 2rem;
      }
    }
    &--mobile {
      font-size: 1.8rem;
      display: none;
      @include media(medium) {
        display: flex;
      }
    }
  }
}
