.footer {
  &__container {
    min-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    flex-wrap: wrap;
    @include medium {
      flex-direction: column;
    }
  }
  &__description {
    opacity: 0.7;
  }
  &__nav {
    display: flex;
    &-item {
      transition: opacity 0.2s;
      &:not(:last-child) {
        margin-right: 4rem;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
