.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 9rem;
  z-index: 5;
  display: flex;
  align-items: center;
  background-color: transparent;

  &__basket-icon {
    transition: transform 0.2s;

    &:hover {
      display: inline-block;
      transform: scale(1.2);
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @include large {
      display: none;
    }
    &--mobile {
      display: none;
      text-transform: uppercase;
      letter-spacing: 1rem;
      transition: transform 0.5s linear;
      @include large {
        display: block;
      }
    }
  }
  &.is-scroll {
    background-color: white;
  }
}
