// media querries map mixin

$breakpoints: (
  xsmall: (
    max-width: 640px,
  ),
  small: (
    max-width: 679px,
  ),
  medium: (
    max-width: 800px,
  ),
  large: (
    max-width: 1024px,
  ),
);

@mixin media($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error 'nie rozpoznana wartość!';
  }
}
