$xsmall: 640px;
$small: 679px;
$medium: 800px;
$large: 1024px;

@mixin xsmall {
  @media (max-width: #{$xsmall}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$small}) {
    @content;
  }
}
@mixin medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}
@mixin large {
  @media (max-width: #{$large}) {
    @content;
  }
}
