.header__nav {
  display: flex;
  &-container {
    display: flex;
    align-items: flex-end;

    @include media(large) {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 8rem 2rem 4rem;
      text-align: center;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: white;
      font-size: 2rem;
      .is-nav-open & {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-item {
    margin-right: 5rem;

    @include media(large) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }

  &-link {
    text-transform: uppercase;
    font-size: 1.6rem;
    opacity: 0.5;
    transition: opacity 0.2s;

    @include media(large) {
      font-size: 3rem;
    }

    &:hover {
      opacity: 1;
    }

    &--shop {
      display: inline-block;
      opacity: 1;
      transition: border-bottom 0.2s;

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }
}

.nav__icon {
  display: none;
  width: 40px;
  height: 35px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 9999;

  @include media(large) {
    display: block;
  }
}

.nav__item {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 1rem;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background: black;

  &:nth-child(1) {
    top: 0px;

    .is-nav-open & {
      top: 18px;
      transform: rotate(135deg);
    }
  }

  &:nth-child(2) {
    top: 10px;

    .is-nav-open & {
      opacity: 0;
      left: -60px;
    }
  }

  &:nth-child(3) {
    top: 20px;

    .is-nav-open & {
      top: 18px;
      transform: rotate(-135deg);
    }
  }
}
