.newsletter {
  background-color: #f5f5f5;
  &__container {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    @include media(medium) {
      flex-direction: column;
    }
  }
  &__header {
    font-size: 4rem;
    margin-right: 8rem;
    font-weight: normal;
    font-family: 'Nothing You Could Do';
    text-align: center;
    @include media(medium) {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
  &__form {
    min-height: 4rem;
    display: flex;
    @include media(small) {
      flex-direction: column;
      align-items: center;
    }

    &-mail {
      height: 100%;
      max-width: 50rem;
      margin-right: 1rem;
      @include media(medium) {
        margin-bottom: 1rem;
      }
      &[placeholder] {
        font-size: 2rem;
        font-weight: 100;
        padding: 1rem;
      }
    }
    &-send {
      min-height: 4rem;
      width: 16rem;
      border: 3px solid black;
      font-size: 2rem;
      background-color: white;
    }
  }
}
