.products {
  &__index {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__options {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.product {
  &__card {
    width: 40rem;
    height: 50rem;
    display: flex;
    position: relative;
    margin-bottom: 2.5rem;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.01);
    }
    &-like {
      position: absolute;
      top: 3rem;
      right: 3rem;
    }
    &-description {
      position: absolute;
      bottom: 6rem;
      left: 4rem;
      font-size: 1.6rem;
    }
    &-price {
      position: absolute;
      bottom: 3rem;
      left: 4rem;
      font-size: 1.6rem;
    }
    &-add {
      opacity: 0;
      position: absolute;
      bottom: 4rem;
      right: 4rem;
      font-size: 1.6rem;
      transition: opacity 0.2s;
      &-cart {
        margin-right: 0.8rem;
      }
    }
    &:hover &-add {
      opacity: 1;
    }
  }
}
