.products {
  &__index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3rem;

    @include media(medium) {
      grid-template-columns: repeat(1, 10fr);
    }
  }
  &__options {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 3rem;
    @include media(large) {
      justify-content: space-around;
    }
  }
  &__sort-select {
    border: none;
  }
  &__pagination {
    font-size: 1.8rem;
    text-align: right;
    margin-right: 2rem;
    &-button {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}

.product {
  &__card {
    max-width: 40rem;
    justify-self: center;
    position: relative;
    margin-bottom: 2.5rem;
    transition: transform 0.2s;
    font-family: 'Maison Neue';

    &:hover {
      transform: scale(1.02);
    }

    &-like {
      position: absolute;
      top: 3rem;
      right: 3rem;
      opacity: 0;
      font-size: 2.5rem;
      transition: opacity 0.2s;
      &:hover {
        color: red;
      }
    }
    &-description {
      position: absolute;
      bottom: 6rem;
      left: 4rem;
      font-size: 1.6rem;
    }
    &-price {
      position: absolute;
      bottom: 3rem;
      left: 4rem;
      font-size: 1.6rem;
      opacity: 0.7;
    }
    &-add {
      opacity: 0;
      position: absolute;
      bottom: 4rem;
      right: 4rem;
      font-size: 3rem;
      transition: opacity 0.2s;
    }
    &:hover &-add,
    &:hover &-like {
      opacity: 1;
    }
  }
}
