.products {
  &__index {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__options {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.product {
  &__card {
    width: 40rem;
    height: 50rem;
    position: relative;
    margin-bottom: 2.5rem;
    &-like {
      position: absolute;
      top: 3rem;
      right: 3rem;
    }
    &-description {
      position: absolute;
      bottom: 7rem;
      left: 4rem;
      font-size: 1.6rem;
    }
    &-price {
      position: absolute;
      bottom: 4rem;
      left: 4rem;
      font-size: 1.6rem;
    }
    &-add {
      position: absolute;
      bottom: 5rem;
      right: 6rem;
      font-size: 1.6rem;
    }
  }
}
