.shop {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding-bottom: 6rem;
  padding-top: 9rem;
  @include media(large) {
    flex-direction: column;
  }
  &__products {
    width: 100%;
  }
  &__basket {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    &-area {
      position: fixed;
      top: 8rem;
      right: 3rem;
      max-width: 60rem;
      max-height: 80vh;
      display: flex;
      z-index: -1;
      background-color: #fff;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &-summary {
      display: block;
      outline: none;
      cursor: pointer;
      &::-webkit-details-marker {
        display: none;
      }
      &::before {
        content: url(/dist/img/cart.png);
        padding-right: 0.5em;
      }
    }
    &[open] > &-summary::before {
      content: url(/dist/img/cart.png);
    }
    &-card {
      width: 33%;
      height: 50%;
      font-size: 1.6rem;
    }
  }

  &__menu {
    width: 27.5rem;
    margin-right: 5rem;

    @include media(large) {
      display: none;
      &.is-menu-open {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5rem;
        margin-right: 0;
      }
    }
  }
  &__button {
    display: none;
    @include media(large) {
      display: block;
      min-height: 4rem;
      width: 16rem;
      border: 3px solid black;
      font-size: 2rem;
      background-color: white;
      margin-bottom: 5rem;
      align-self: center;
    }
  }
}
