:root {
  --swiper-navigation-size: 3rem;
  --swiper-theme-color: black;
}

.swiper {
  &-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;

    &:not(.swiper-container-initialized) .swiper-slide:not(:first-child) {
      display: none;
    }
  }

  &-wrapper {
    max-width: 117rem;
    margin: 0 auto;
  }

  &-photo {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}
